<div class="container vh-100 p-0 container-body">
    
    <div class="row h-100 align-items-center">
        <div class="col-auto p-0">
            <div class="row align-items-center justify-content-center m-0">
                <div class="col-auto">
                    <img src="https://static.vecteezy.com/system/resources/previews/005/731/543/non_2x/illustration-of-the-logo-of-the-veterinary-clinic-vector.jpg" alt="" width="200px">
                </div>
                <div class="col-auto">
                    <h1 class="text-success fw-bold ">ProPets</h1>
                    <p class="text-success">Huellitas Felices</p>
                </div>
            </div>
            <div class=" row m-0 justify-content-center">
                <div class="col-auto p-2">
                    <div class="card border border-success p-2 item position-relative">
                        <h1 class="text-success text-center fw-bold">Consulta</h1>
                        <p class="fs-5 text-center">Observacion general del paciente</p>
                        <button class="btn btn-success position-absolute bottom-0 mb-2 me-2 start-50 translate-middle-x"> Agendar</button>
                    </div>
                </div>
                <div class="col-auto p-2">
                    <div class="card border border-success p-2 item">
                        <h1 class="text-success text-center fw-bold">Control</h1>
                        <p class="fs-5 text-center">Revicion despues de tratamiento</p>
                        <button class="btn btn-success position-absolute bottom-0 mb-2 me-2 start-50 translate-middle-x"> Agendar</button>
                    </div>
                </div>
                <div class="col-auto p-2">
                    <div class="card border border-success p-2 item">
                        <h1 class="text-success text-center fw-bold">Baño</h1>
                        <p class="fs-5 text-center">Liampia el pelaje del Paciente</p>
                        <button class="btn btn-success position-absolute bottom-0 mb-2 me-2 start-50 translate-middle-x"> Agendar</button>
                    </div>
                </div>
                <div class="col-auto p-2">
                    <div class="card border border-success p-2 item">
                        <h1 class="text-success text-center fw-bold">Peluqueria</h1>
                        <p class="fs-5 text-center">Reduce el pelaje del Paciente</p>
                        <button class="btn btn-success position-absolute bottom-0 mb-2 me-2 start-50 translate-middle-x"> Agendar</button>
                    </div>
                </div>
                <div class="col-auto p-2">
                    <div class="card border border-success p-2 item">
                        <h1 class="text-success text-center fw-bold">Vacunacion</h1>
                        <p class="fs-5 text-center">Cuida de enfermedades</p>
                        <button class="btn btn-success position-absolute bottom-0 mb-2 me-2 start-50 translate-middle-x"> Agendar</button>
                    </div>
                </div>
                <div class="col-auto p-2">
                    <div class="card border border-success p-2 item">
                        <h1 class="text-success text-center fw-bold">Esterilizar</h1>
                        <p class="fs-5 text-center">Evita que tenga hijos</p>
                        <button class="btn btn-success position-absolute bottom-0 mb-2 me-2 start-50 translate-middle-x"> Agendar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>